<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"><servlet>
		<servlet-name>Create</servlet-name>
		<servlet-class>org.sugyan.counter.CreateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>org.sugyan.counter.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Counter</servlet-name>
		<servlet-class>org.sugyan.counter.CounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminDeleteCounter</servlet-name>
		<servlet-class>org.sugyan.counter.admin.DeleteCounterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminDeleteRecord</servlet-name>
		<servlet-class>org.sugyan.counter.admin.DeleteRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Create</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Counter</servlet-name>
		<url-pattern>/counter/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDeleteCounter</servlet-name>
		<url-pattern>/admin/cron/delete/counter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminDeleteRecord</servlet-name>
		<url-pattern>/admin/cron/delete/record</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Google Accounts</web-resource-name>
			<url-pattern>/manage.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name></auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Administrator</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
