<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
  <head>
    <title>GAE Counter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div align="right">{% if user %}{{ user.nickname }}{% endif %}
      <a href="{{ user_url }}">{% if user %}
        Sign out{% else %}
        Sign in{% endif %}
      </a>
    </div>{% block content %}{% endblock %}
  </body>
</html>
