{% extends 'base.html' %}{% block content %}
<h2>{{ counter.name }}</h2>
<table>
  <tr>
    <td align="right">作成日時：</td>
    <td>{{ counter.date|timeJST|date:"Y-m-d H:i:s" }}</td>
  </tr>
  <tr>
    <td align="right">アクセス数：</td>
    <td>{{ counter.count }}</td>
  </tr>
  <tr>
    <td align="right">URL：</td>
    <td>
      <a href="/counter/{{ counter.key }}.png">http://gae-counter.appspot.com/counter/{{ counter.key }}.png</a><br />
      <a href="/counter/{{ counter.key }}.jpg">http://gae-counter.appspot.com/counter/{{ counter.key }}.jpg</a><br />
    </td>
  </tr>
</table>
<form method="POST" action="/destroy">
  <input type="hidden" name="key" value="{{ counter.key }}" />
  <input type="submit" value="削除する" onclick="javascript:return confirm('本当に削除しますか？')?true:false"/>
</form>
<hr />
<table>
  <tr>{% for i in loop %}
    <th>{{ i }}</th>{% endfor %}
  </tr>
  <tr>{% for i in loop %}
    <td><img src="/view?num={{ i }}&key={{ counter.key }}"></td>{% endfor %}
  </tr>
</table>
{% endblock %}
