{% extends 'base.html' %}{% block content %}{% block header %}
<link href="/css/style.css" rel="stylesheet" type="text/css" />{% endblock %}{% if user %}
カウンターは３つまで作れます
<table>
  <tr>
    <th>カウンター名</th>
    <th>作成日</th>
    <th>アクセス数</th>
    <th colspan="2"></th>
  </tr>{% for counter in counter.counters %}
  <tr>
    <td>{{ counter.name }}</td>
    <td>{{ counter.date|timeJST|date:"Y-m-d" }}</td>
    <td align="right">{{ counter.count }}</td>
    <td><a href="/config?key={{ counter.key }}">設定</a></td>
    <td><a href="/record?key={{ counter.key }}">記録</a></td>
  </tr>{% endfor %}
</table>{% if counter.can_create %}
<hr />
<h3>新規作成</h3>
<form method="POST" action="/create">
  カウンター名：<input name="name" />
  <input type="submit" value="作成する" />
</form>{% endif %}{% else %}
<h1>GAE Counter</h1>
<img src="http://gae-counter.appspot.com/counter/agtnYWUtY291bnRlcnIOCxIHQ291bnRlchjUDww.png">
<h2>説明</h2>
<ul>
  <li>Google App Engineで動くアクセスカウンターです。</li>
  <li>アクセスされるたびに数字が増加する画像データを提供します。</li>
  <li>アクセス記録を取って簡単なアクセス解析もできます。</li>
  <li>Googleアカウントで<a href="{{ user_url }}">ログイン</a>すると使えます。</li>
</ul>
<h3>ソース</h3>
GitHubで公開しています。<br />
<a href="http://github.com/sugyan/GAE_Counter/tree/master">
  http://github.com/sugyan/GAE_Counter/tree/master
</a>
<h4>作者</h4>
すぎゃーん<br />
<a href="http://d.hatena.ne.jp/sugyan/">http://d.hatena.ne.jp/sugyan/</a><br />
<a href="http://twitter.com/sugyan">http://twitter.com/sugyan</a><br />{% endif %}{% endblock %}
